.card{
    display: flex;
    gap: 8px;
    box-sizing: border-box;
    width: 1200px;
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    
    margin-top: 20px;
    margin-bottom: 20px;
}

.card::-webkit-scrollbar{
    display: none;
}

.card img{
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
}

.card p{
    cursor: pointer;
}