.container{
    padding-left: 10%;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.text a{
    text-decoration: none;
    color: white;
    font-size:14px;
}

.icons{
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.icons img{
    width: 30px;
}

.textarea{
    display: flex;
    gap: 80px;
    margin-top: 30px;
}

.copy{
    margin-top: 30px;
}